.logo {
    font-family: "montserrat", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 48px;
    letter-spacing: -0.02em;
    color: #0A1B32;
    margin-top: 37px;
    margin-left: 80px;
}
.logo-Dot {
    color:  #824FF1;
}
.main-title {
    font-family: "ramaraja", serif;
    font-style: normal;
    font-weight: normal;
    font-size: 72px;
    line-height: 76px;
    letter-spacing: 0.02em;
    color: #1B0A42;
    max-width: 495px;
    width: 100%;
    max-height: 152px;
}