.logo {
    font-family: "montserrat", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 48px;
    letter-spacing: -0.02em;
    color: #0A1B32;
    margin-top: 37px;
    margin-left: 80px;
}
.logo-Dot {
    color:  #824FF1;
}
section {
    display: inline-block;
}
.main-title {
    max-width: 550px;
    width: 100%;
    margin-top: 203px;
    margin-left: 200px;
    font-family: "ramaraja", serif;
    font-style: normal;
    font-weight: bold;
    font-size: 72px;
    line-height: 76px;
    letter-spacing: 0.02em;
    color: #1B0A42;   
}
.main-paragraph {
    max-width: 591px;
    width: 100%;
    margin-top: 10px;
    margin-left: 200px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 0.02em;
    color: #9A9A9A;
}
.main-button {
    width: 152px; 
    height: 64px;
    background-color: #824FF1;
    border-radius: 6px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #FFFFFF;
    margin-left: 200px;
    margin-top: 68px;
}
.button-home {
    background-color: transparent;
    border-color: transparent;
    color: #1B0A42;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
}
.button-about {
    background-color: transparent;
    border-color: transparent;
    color: #1B0A42;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
}
.button-blog {
    background-color: transparent;
    border-color: transparent;
    color: #1B0A42;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
}
.button-contact {
    background-color: transparent;
    border-color: transparent;
    color: #1B0A42;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
}
.header-buttons {
    font-size: 16px;
    font-weight: normal;
    display: flex;
    gap: 32px;
    margin-left: 273px;
    position: absolute;
    top: 48px 
}
.header-accountbuttons {
     font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: normal;
    display: flex;
    gap: 32px;
    margin-left: 23px;
    position: absolute;
    top: 48px;
    right: 23px;
    
}

.header-loginbutton {
    background-color: transparent;
    border-color: transparent;
    color: #1B0A42;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
}

.header-signbutton {
    width: 120px; 
    height: 60px;
    background-color: #824FF1;
    border-radius: 6px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #FFFFFF;
}
.images {
    top: 200px;
    right: 100px;
}
.image-meditation {
    position: absolute;
    top: 203px;
    right: 100px;
}
.image-squiggle {
    position: absolute;
    top: 250px;
    right: 50px;
}